body{
    background-color: beige;

}
.container{
    border: 1px solid black;
    display: flex;
    padding: 20px;
    flex-flow: row wrap;
    background-color: aliceblue;
    align-content: center;
    justify-content: center;
    width: 80%;
    height: 600px;
    margin: auto;
}
.caja{
    border: 1px solid black;
    background-color: white;
    color: black;
    font-family:'Courier New', Courier, monospace;
    font-weight: bold;
    width: 120px;
    height: 120px;
    line-height: 120px;
    text-align: center;
    margin: 5px;
}
.caja:hover{
    opacity: 0.7;
    cursor:pointer;
}
.caja1{
    border: 1px solid black;
    display: flex;
    padding: 20px;
    flex-flow: row wrap;
    background-color:lightcoral;
    align-content: center;
    justify-content: center;
    width: 80%;
    height: 600px;
    margin: auto;
}
.caja2{
    border: 1px solid black;
    display: flex;
    padding: 20px;
    flex-flow: row wrap;
    background-color:lightgreen;
    align-content: center;
    justify-content: center;
    width: 80%;
    height: 600px;
    margin: auto;
}
.caja3{
    border: 1px solid black;
    display: flex;
    padding: 20px;
    flex-flow: row wrap;
    background-color: lightseagreen;
    align-content: center;
    justify-content: center;
    width: 80%;
    height: 600px;
    margin: auto;
}
.caja4{
    border: 1px solid black;
    display: flex;
    padding: 20px;
    flex-flow: row wrap;
    background-color: lightyellow;
    align-content: center;
    justify-content: center;
    width: 80%;
    height: 600px;
    margin: auto;
}
.caja5{
    border: 1px solid black;
    display: flex;
    padding: 20px;
    flex-flow: row wrap;
    background-color:lightslategray;
    align-content: center;
    justify-content: center;
    width: 80%;
    height: 600px;
    margin: auto;
}

#caja1{
    background: lightcoral;
}
#caja2{
    background: lightgreen;
}
#caja3{
    background: lightseagreen;
}
#caja4{
    background: lightyellow;
}
#caja5{
    background: lightslategray;
}