*{
    font-size: 10px;
    font-family: Roboto, Arial, sans-serif;
}
.contenedor{
    display: block;
    position: relative;
    padding: 0;
    margin: 0;
    overflow-y: scroll;
    white-space: nowrap;
   
    width: 75%;
}

.otroContenedor{

    padding-bottom: 20px;
}
.comment{
    font-size: 125%;
    margin-left: 10px;  
 
}

img{
    border-radius: 50%;
  
}
img .heart{
    width: 5%;
    height: 5%
}
.profile{

    vertical-align: middle;

}
 h4, .Time{
    display: inline-block;
    position: relative;;
    vertical-align: right;
}

.Time{
    padding: 1%;
    color: gray;
}

h3 , .like {
    
    display: inline-block
    
  
}

.thumbup{
    width: 30px;
    height: 25px;
}
.thumbdown{
    width: 25px;
    height: 20px;
}

.corazon{
    width: 20px;
}