body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(fondo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

#calculator {
    width: 250px;
    margin: 200px;
    padding: 20px;
    border: 1px solid black;
    border-radius: 10px;
    text-align: center;
}

input {
    width: 200px;
    padding: 10px;
    margin-bottom: 10px;
}

button {
    padding: 10px 20px;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin: 5px;
}

button:hover {
    background-color: blueviolet;
}