h1{
    align-self:center;
    font-size: 70pt;
}
h2{
    font-size: 40pt;
}
img{
    height: 250px;;
    width: 52%;
}

.texto{
text-align: center;

    font-family:fantasy;
    font-weight: 100;
    font-size: larger;
}
.contenedor{
    background-color: beige;
    display: flex;
    flex-direction: column;
}
.otroContainer{
    display: flex;
    border: solid 3px black;
    flex-direction: column-reverse;
}
.imagen{
text-align: center;
}
.descripcionFoto{
    display: flex;
    flex-direction: column;
}
.boton1{
    background-color:rgb(8, 113, 250);
    border: rgb(0, 0, 0);
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;      
}
.boton2{
    background-color:black;
    border: grey;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;      
}
.boton3{
    background-color: rgb(17, 99, 250); 
    border: black;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;      
}
.boton1,.boton2, .boton3:hover{
    opacity: 0.7;
    cursor:pointer;
}
#ultimaImagen{
    display: flex;
    text-align: center;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
}
#ultimoContainer{
    display: flex;
    flex-direction: column;
}